<div class="resume-section-content p-5">
    <h2 class="mb-5 text-secondary">Education</h2>
    <!-- MIT xPro -->
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0 text-secondary">MIT <span style="font-size:1.4rem;">x</span>PRO</h3>
            <div class="subheading mb-3">Professional Certificate in Coding</div>
            <div>Full Stack Development with MERN</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">2021</span></div>
    </div>
    <!-- Purdue -->
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0 text-secondary">Purdue University</h3>
            <div class="subheading mb-3">Master of Science</div>
            
            <div>Food Science</div>
            <div>Computational Science and Engineering</div>

        </div>
        <div class="flex-shrink-0"><span class="text-primary">2006 - 2009</span></div>
    </div>

        <!-- UIUC -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0 text-secondary">University of Illinois at Urbana-Champaign</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                
                <div>Chemistry</div>
    
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2000 - 2005</span></div>
        </div>


</div>