.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}

.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.bigIcon{
    font-size:8rem;
    color:#03b5aa;
}

.bigIconSubTitle{
    font-weight:bolder;
    font-size:1.3rem;
}

.bigIconSubSubTitle{
    margin-left:0.2rem;
    /* font-size:smaller; */
}

a{
    text-decoration:none !important;
}