<section class="resume-section" style="max-width:100%">
    <div class="resume-section-content" >
        <h2 class="mb-5 text-secondary d-flex justify-content-center">
            Skills
        </h2>
        <!-- front end -->
        <div class="row w-100">
            <div class="col d-flex justify-content-center bg-light">
                <h3 class="text-secondary my-1">
                    Front-end
                </h3>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <fa-icon [icon]="faAngular"></fa-icon>
                </div>
                <div class="bigIconSubTitle">Angular</div>
                <!-- <div class="bigIconSubSubTitle">&bull;&nbsp;Version 12</div> -->
                <div class="bigIconSubSubTitle">&bull;&nbsp;TypeScript</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;HttpClient</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Reactive Forms</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Single Page Apps</div>
            </div>
            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <!-- <i class="fab fa-angular"></i> -->
                    <fa-icon [icon]="faJsSquare"></fa-icon>
                </div>
                <div class="bigIconSubTitle">AngularJS</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Large applications</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;MVC architecture</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Single Page Apps</div>

            </div>
            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <!-- <i class="fab fa-bootstrap"></i> -->
                    <fa-icon [icon]="faBootstrap"></fa-icon>
                </div>
                <div class="bigIconSubTitle">Bootstrap</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Version 5</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Responsive grid</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Sass</div>

            </div>

            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <!-- <i class="fas fa-cogs"></i> -->
                    <fa-icon [icon]="faCogs"></fa-icon>

                </div>
                <div class="bigIconSubTitle">Client-side APIs</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Google analytics</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Google authentication</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Google reCaptcha</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;MapBox</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Stripe</div>


            </div>

            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <!-- <i class="fab fa-react"></i> -->
                    <fa-icon [icon]="faReact"></fa-icon>

                </div>
                <div class="bigIconSubTitle">ReactJS</div>
                <!-- <div class="bigIconSubSubTitle">&nbsp;&nbsp;* in progress</div> -->
                <div class="bigIconSubSubTitle">&bull;&nbsp;Formik</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Yup</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;React router</div>


            </div>



            <div class="col-lg-2"></div>

        </div>

        <!-- back end -->

        <div class="row w-100 mt-3">
            <div class="col d-flex justify-content-center bg-light">
                <h3 class="text-secondary my-1">
                    Back-end
                </h3>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <!-- <i class="fab fa-node-js"></i> -->
                    <fa-icon [icon]="faNodeJs"></fa-icon>

                </div>
                <div class="bigIconSubTitle">NodeJS</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Cloud Functions</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;App Engine</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Firebase</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Google authentication</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Puppeteer</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;SendGrid</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Stripe</div>


            </div>
            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <!-- <i class="fas fa-server"></i> -->
                    <fa-icon [icon]="faServer"></fa-icon>

                </div>
                <div class="bigIconSubTitle">NoSQL</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Firebase Realtime Database</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Mongo DB*</div>
                <div class="bigIconSubSubTitle">&nbsp;&nbsp;* in progress</div>


            </div>
            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <fa-icon [icon]="faDatabase"></fa-icon>
                </div>
                <div class="bigIconSubTitle">MySQL</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;CloudSQL</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;App Engine</div>
            </div>

            <div class="col-lg-2 px-4">
                <div class="bigIcon">
                    <fa-icon [icon]="faPython"></fa-icon>
                </div>
                <div class="bigIconSubTitle">Python</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Firebase</div>

                <div class="bigIconSubSubTitle">&bull;&nbsp;Flask</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Google authentication</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Stripe</div>

            </div>


            <div class="col-lg-2">
                <div class="bigIcon">
                    <fa-icon [icon]="faGoogle"></fa-icon>
                </div>
                <div class="bigIconSubTitle">Google Apps Script</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Business automation</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Email marketing</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;OAuth2 Client Library</div>
                <div class="bigIconSubSubTitle">&bull;&nbsp;Templated HTML</div>

            </div>


        </div>

    </div>

    <!-- front end skills -->
    <!-- angularjs -->
    <!-- Bootstrap -->
    <!-- Client APIs : Stripe, Google (Analytics, Sign-in, reCaptcha) MapBox  -->
    <!-- future work: reactJS -->
    <!-- back end skills -->
    <!-- NodeJS -->
    <!-- Python -->
    <!-- Server-side APIs and Tools: Google Sign on, 3rd party APIs  -->
    <!-- Firebase Real Time Database  -->
    <!-- Browser automation using Puppeteer -->




    <!-- other skills -->
    <!-- </div> -->
</section>