<section class="resume-section pt-5">
    <div class="resume-section-content">
        <h2 class="mb-3 d-flex justify-content-center text-secondary">
            Portfolio
        </h2>

        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-1 bg-light py-4 mb-4">
                <h4 class="text-secondary">Nutrition Engineering LLC Projects</h4>
            </div>
        </div>
        <!-- nutrasheets.com website -->
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Nutrasheets.com</h4>
                    <!--start live preview row-->
                    <div class="row w-100" style="margin-bottom:-5px;">
                        <div class="col d-flex justify-content-end ">
                            <h5 class="text-secondary">Live preview</h5>
                            <svg height="20" width="20" class="blinking" style="margin-top:0.2rem;">
                                <circle cx="10" cy="10" r="5" fill="#03b5aa" />
                                &nbsp;
                            </svg>
                        </div>
                    </div>
                    <!--end live preview row-->
                    <iframe src="https://www.nutrasheets.com/" style="height:400px;"></iframe>
                    <div class="card-body">
                        <div class="card-text">
                            This website was developed around Nutrasheets, a food formulation and nutrition labeling
                            add-on for Google Sheets. This website was built with Bootstrap and AngularJS on the
                            front-end and Firebase Cloud Functions on the back-end to deliver
                            the
                            following functionality.
                            <ul>
                                <li>How to install and use Nutrasheets</li>
                                <li>Account management</li>
                                <li>Browse or suggest new nutrients for Nutrasheets</li>
                                <li>Bug report and contact form</li>
                            </ul>
                        </div>
                        <p class="card-text">
                            This website is in process to be released as a single page application with a lot of
                            new
                            features mid 2021.
                        </p>
                        <a href="https://www.nutrasheets.com" target="_blank"
                            class="btn btn-secondary my-1 mx-3">Nutrasheets.com&nbsp;&nbsp;
                            <!-- <i class="fas fa-external-link-alt"></i> -->
                            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row d-flex justify-content-center px-5 my-4">
            <div class="col border-bottom"></div>
        </div>

        <!-- nutrasheets add-on -->
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Nutrasheets Add-on</h4>
                    <img class="" src="../../assets/image/carouselNutritionFacts1.svg" alt="Nutrasheets Add-On image"
                        style="max-height:400px;">
                    <div class="card-body">
                        <div class="card-text">
                            This is a Google Sheets Add-on that creates a food formulation and nutrition labeling
                            environment into Google Sheets. It uses Google Apps Script and Firebase on the back-end
                            and Boostrap and AngularJS on the front-end to create a responsive, clean, functional
                            user interfaces in HTML sidebars and modal dialogs in Google Sheets with the following
                            features.
                            <ul>
                                <li>Create formulas and streams from 300,000+ ingredients</li>
                                <li>Create nutrition facts from formulas</li>
                                <li>Create ingredient statements from formulas</li>
                                <li>Create and store custom ingredients</li>
                                <li>Create batch sheets from formulas for the test kitchen or plant</li>
                            </ul>
                        </div>
                        <p class="card-text">
                            Currently there are hundreds of users in academia, industry, and start-ups that use
                            Nutrasheets to develop and label new products. There is a full pipeline of new features
                            planned for launch in mid 2021. Long-term I would like Nutrasheets to become a global
                            powerhouse in the food formulation and nutrition labeling software space. Short-term I would
                            like to secure funding to continue building out new features and growing my user base.
                        </p>
                        <a href="https://workspace.google.com/marketplace/app/nutrasheets/561596970235" target="_blank"
                            class="btn btn-secondary my-1 mx-3">Google Workspace Marketplace&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt"></fa-icon></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row w-100 my-4">
            <div class="col d-flex justify-content-center my-1 bg-light py-4">
                <h4 class="text-secondary">MIT <span style="font-size:1.2rem;">x</span>PRO Projects</h4>
            </div>
        </div>


        <!-- Angular Playground -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Angular Playground</h4>
                    <p class="card-text">Self-learning project</p>
                    <!--start live preview row-->
                    <div class="row w-100" style="margin-bottom:-5px;">
                        <div class="col d-flex justify-content-end ">
                            <h5 class="text-secondary">Live preview</h5>
                            <svg height="20" width="20" class="blinking" style="margin-top:0.2rem;">
                                <circle cx="10" cy="10" r="5" fill="#03b5aa" />
                                &nbsp;
                            </svg>
                        </div>
                    </div>
                    <!--end live preview row-->
                    <iframe src="https://benjamingro.github.io/angular-playground/" style="height:400px;"></iframe>
                    <div class="card-body">
                        <p class="card-text">
                            I re-wrote all of the React components that were created for the MIT xPRO homework
                            assignments in Angular 12.
                            The intent was to learn Angular as an alternative to React.

                        </p>
                        <a href="https://github.com/benjamingro/angular-playground" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Repo&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="https://benjamingro.github.io/angular-playground/" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Pages&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>

        </div>

        <div class="row d-flex justify-content-center px-5 my-4">
            <div class="col border-bottom"></div>
        </div>

        <!-- React Playground -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">React Playground</h4>
                    <p class="card-text">Homework week 12-19</p>
                    <!--start live preview row-->
                    <div class="row w-100" style="margin-bottom:-5px;">
                        <div class="col d-flex justify-content-end ">
                            <h5 class="text-secondary">Live preview</h5>
                            <svg height="20" width="20" class="blinking" style="margin-top:0.2rem;">
                                <circle cx="10" cy="10" r="5" fill="#03b5aa" />
                                &nbsp;
                            </svg>
                        </div>
                    </div>
                    <!--end live preview row-->
                    <iframe src="https://benjamingro.github.io/react-playground/#/myfirstcomponents"
                        style="height:400px;"></iframe>
                    <div class="card-body">
                        <p class="card-text">
                            This project is a collection of React components. These components were aggregated from
                            homework assignments and self-learning exercises from the MIT xPRO course.

                        </p>
                        <a href="https://github.com/benjamingro/angular-playground" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Repo&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="https://benjamingro.github.io/angular-playground/" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Pages&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="https://youtu.be/XQGavJZO2ps" target="_blank"
                            class="btn btn-secondary my-1 mx-3">Video walkthrough&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>

        </div>

        <div class="row d-flex justify-content-center px-5 my-4">
            <div class="col border-bottom"></div>
        </div>

        <!-- Bad Bank Exercise -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Bad Bank</h4>
                    <p class="card-text">React Single Page App</p>
                    <!--start live preview row-->
                    <div class="row w-100" style="margin-bottom:-5px;">
                        <div class="col d-flex justify-content-end ">
                            <h5 class="text-secondary">Live preview</h5>
                            <svg height="20" width="20" class="blinking" style="margin-top:0.2rem;">
                                <circle cx="10" cy="10" r="5" fill="#03b5aa" />
                                &nbsp;
                            </svg>
                        </div>
                    </div>
                    <!--end live preview row-->
                    <iframe src="http://ben-grossbankingapplication.s3-website.us-east-2.amazonaws.com/"
                        style="height:400px;"></iframe>
                    <div class="card-body">
                        <p class="card-text">
                            This React app that simulates the front end of a simple banking app.
                        </p>
                        <a href="https://github.com/benjamingro/bad-bank" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Repo&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="http://ben-grossbankingapplication.s3-website.us-east-2.amazonaws.com/" target="_blank"
                            class="btn btn-secondary my-1 mx-3">AWS S3 Bucket&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="https://youtu.be/haQktxSk0eU" target="_blank" class="btn btn-secondary my-1 mx-3">Video
                            walkthrough&nbsp;&nbsp;<fa-icon [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>

        </div>

        <div class="row d-flex justify-content-center px-5 my-4">
            <div class="col border-bottom"></div>
        </div>

        <!-- Week 9 - MBTA Bus Tracker -->
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Real Time Bus Tracker Exercise</h4>
                    <p class="card-text">Week 9 homework assignment</p>
                    <!--start live preview row-->
                    <div class="row w-100" style="margin-bottom:-5px;">
                        <div class="col d-flex justify-content-end ">
                            <h5 class="text-secondary">Live preview</h5>
                            <svg height="20" width="20" class="blinking" style="margin-top:0.2rem;">
                                <circle cx="10" cy="10" r="5" fill="#03b5aa" />
                                &nbsp;
                            </svg>
                        </div>
                    </div>
                    <!--end live preview row-->
                    <iframe src="https://benjamingro.github.io/boston-bus-tracker/" style="height:400px;"></iframe>
                    <!-- <img class="" src="/media/realtimeBusTracker.gif" alt="Real Time Bus Tracker image"> -->
                    <div class="card-body">
                        <p class="card-text">
                            This exercise allows users to display the real time position of any bus route in the
                            Massachussets Bay Transit Authority system. It uses Bootstrap and AngularJS to create a
                            clean, responsive, data-rich user interface.
                        </p>
                        <a href="https://github.com/benjamingro/boston-bus-tracker" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Repo&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="https://benjamingro.github.io/boston-bus-tracker/" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Pages&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row d-flex justify-content-center px-5 my-4">
            <div class="col border-bottom"></div>
        </div>


        <!-- Week 8 - Eye Exercise -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Eyes Exercise</h4>
                    <p class="card-text">Week 8 homework assignment</p>

                    <img class="" src="../../assets/image/Eyes.gif" alt="Eyes image">
                    <div class="card-body p-0 d-flex justify-content-end" style="font-size:small;">
                        GIF created by&nbsp;<a href="https://maruthiprithivi.github.io/pages/portfolio.html"
                            target="_blank">Maruthi Prithivirajan</a>
                    </div>

                    <div class="card-body">
                        <p class="card-text">
                            This exercise demonstrates uses HTML, CSS and JavaScript to create eyes that follow the
                            mouse's movement around the screen.
                        </p>
                        <a href="https://github.com/benjamingro/eye-exercise" class="btn btn-secondary my-1 mx-3">GitHub
                            Repo&nbsp;&nbsp;<fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
                        <a href="https://benjamingro.github.io/eye-exercise/" class="btn btn-secondary my-1 mx-3">GitHub
                            Pages&nbsp;&nbsp;<fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row d-flex justify-content-center px-5 my-4">
            <div class="col border-bottom"></div>
        </div>

        <!-- Week 7 - Pac Man Exercise -->
        <div class="row pb-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-0">
                    <h4 class="card-title text-secondary">Pac-Men Exercise</h4>
                    <p class="card-text">Week 7 homework assignment</p>
                    <!--start live preview row-->
                    <div class="row w-100" style="margin-bottom:-5px;">
                        <div class="col d-flex justify-content-end ">
                            <h5 class="text-secondary">Live preview</h5>
                            <svg height="20" width="20" class="blinking" style="margin-top:0.2rem;">
                                <circle cx="10" cy="10" r="5" fill="#03b5aa" />
                                &nbsp;
                            </svg>
                        </div>
                    </div>
                    <!--end live preview row-->
                    <iframe style="height:400px;" src="https://benjamingro.github.io/pacmen-exercise/"></iframe>
                    <div class="card-body">
                        <p class="card-text">
                            This PacMan themed exercise brings together Object Oriented JavaScript, DOM manipulation,
                            and a little bit of recursion.

                            <!-- In this exercise we go a bit retro and give PacMan a new lease in life and also get our
                    hands into a bit of cloning so that he/it doesn't feel alone while strolling within the
                    borders of your browser window. -->
                        </p>
                        <a href="https://github.com/benjamingro/pacmen-exercise" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Repo&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                        <a href="https://benjamingro.github.io/pacmen-exercise/" target="_blank"
                            class="btn btn-secondary my-1 mx-3">GitHub Pages&nbsp;&nbsp;<fa-icon
                                [icon]="faExternalLinkAlt">
                            </fa-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>

        </div>



    </div>
</section>